{$HOST}
tls {$CADDY_TLS_EMAIL}
browse
gzip

markdown / {
    ext .md
}

rewrite {
    if {>Referer} has /python
    to /python/{path}
}
proxy /python python-app:8000 {
    without /python
    transparent
}

fastcgi / 127.0.0.1:9000 php

startup php-fpm7

log stdout
errors stdout
